.header{
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    position: fixed;
    z-index: 999;
    background-color: white;

}
.container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}