@import "./src/common/styles/sass/variables";

.title {
  font-weight: 800;
  line-height: 1.2;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 80px;

  .title h2 span {
    font-weight: 400;
    color: $mainTextColor;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: -20px;
    width: 50px;
    height: 1px;
    background: $primaryColor;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}




