.main {
    max-height: 100vh;
    border-bottom: 1px solid #ddd;
    padding: 100px 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text {
    width: 300px;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: aqua;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 750px){
    .container{
        justify-content: center;

    }
}