@import "./common/styles/sass/variables";
body{
    font-family: 'Raleway', sans-serif;
    color: #777;
    font-size: 15px;
    line-height: 1.7;
    background-color: $bgColor;
}
h2{
    font-size: 30px;
    margin: 0;
    color: #333;
}
h3{
    font-size: 18px;
    margin: 0;
    color: #333;
}